<%- include('../partials/head.ejs') %>
<body>
<div class="principal configD">
    <%- include('../partials/navbar.ejs') %>

<br>

<div class="container">

  <div class="categoria"><h1>Ação</h1></div>

<br>

    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
</div>

<div class="container">

<br>

    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
</div>

<div class="container">

<br>

    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
</div>

<div class="container">

<br>

    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
</div>
<%- include('../partials/footer-1.ejs') %>
</div>
    
</body>
<%- include('../partials/footer.ejs') %>