<%- include('../partials/head.ejs') %>
<body>
<div class="principal configD">
    <%- include('../partials/navbar.ejs') %>

<br>

<div class="container">

    <div class="categoria"><h1>Criadores</h1></div>

<br>

<h1>Kauãferrareznunes-KFN</h1>

<h5>Kauãferrareznunes-KFN um YouTuber brasileiro que faz animações, grava vídeos de minecraft, roblox e free fire</h5>
<h5>faz lives de minecraft, roblox e free fire, ele é um criador de conteúdos, um garoto muito jovem</h5>
<h5>seu canal foi criado em 31 de dezembro de 2019, ele se considera um youtuber simples</h5>
<h5>e ele tem uma série cujo o nome é "Aventura Em Mine" uma série que possui 2 temporadas com a 1º temporada</h5>
<h5>que possui 10 episódios a 2º temporada não foi terminada no momento tem apenas 5 episódios</h5>

<br>

<h5>link do canal:https://www.youtube.com/@KFN_YT</h5>

<br>

<h1>Non</h1>

<h5>Non um YouTuber brasileiro que faz animações de minecraft cujo o nome é "O Progresso" uma série boa</h5>
<h5>a série possui apenas 1 temporada com 5 episódios a segunda temporada de sua série está sendo feita</h5>

<br>

<h5>link do canal:https://www.youtube.com/@non.brasil</h5>

<br>

<br>

<br>

<%- include('../partials/footer-1.ejs') %>
</div>
    
</body>
<%- include('../partials/footer.ejs') %>