<%- include('../partials/head.ejs') %>
<body>
<div class="principal configD">
    <%- include('../partials/navbar.ejs') %>

<br>

<div class="container">

    <div class="categoria"><h1>Início</h1></div>

<br>

<h5>Seja Bem vindo(a) ao Noxzon!!</h5>
<h5>um site de filmes, séries e mangás, crido por "Kauãferrareznunes-KFN" e "Non"</h5>
<h5>o site foi criado por esses 2 em 2025</h5>
<h5>um projeto para se divertir nós esperamos que todos vocês gostem</h5>
<h5>dos mangá, filmes e série que vem ai pelo frente</h5>

<br>

<h6>Programador:Kauãferrareznunes-KFN</h6>

<br>

<h6>designer:Non</h6>

<br>

<div class="categoria"><a href="/main"><h4>Play</h4></a></div>

<br>

<br>

<br>

<br>

<br>


<%- include('../partials/footer-1.ejs') %>
</div>
    
</body>
<%- include('../partials/footer.ejs') %>