<%- include('../partials/head.ejs') %>
<body>
<div class="principal configD">
    <%- include('../partials/navbar.ejs') %>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/Em_breve.png" class="d-block w-100" alt="Aventura Em Mine">
    </div>
    <div class="carousel-item">
      <img src="img/noxzon.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/noxzon.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<div class="container">

  <div class="categoria"><h1>Filmes</h1></div>

<br>

    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
    <div class="categoria"><a href="<div class="container">
<div class="categoria"><a href="/filmes"><h5>Veja mais</h5></a></div>
</div>

<br>

<div class="container">

  <div class="categoria"><h1>Séries</h1></div>

<br>

    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col efeito efeitoCont">
        <div class="card">
        <a href="/o-progresso-todos-os-episodios"><img src="img/oprogresso_novo.png" class="card-img-top" alt="O Progresso"></a>
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col efeito efeitoCont">
        <div class="card">
        <img src="img/kfn.non.png" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
<div class="categoria"><a href="/series"><h5>Veja mais</h5></a></div>
</div>
<%- include('../partials/footer-1.ejs') %>
</div>
    
</body>
<%- include('../partials/footer.ejs') %>