<%- include('../partials/head.ejs') %>
<body>
<div class="principal configD">
    <%- include('../partials/navbar.ejs') %>

<figure class="figure d-flex align-items-start">
  <img src="img/oprogresso_novo.png" class="figure-img img-fluid rounded me-4" alt="O Progresso" style="width: 260px;">
  <figcaption class="figure-caption text-start">
    <h1><p><strong>O Progresso</strong></p></h1>
    <p>Data de criação: 1 de janeiro de 2024</p>
    <p>Personagens: Hanks, Mey, Jack, Olivia, Mark e Jon</p>
    <p>Enredo: Hanks é um garoto de 8 anos que em um certo dia, uma forte chuva acaba destruindo sua casa, acabando com a vida de seus pais. Até que ele acorda em uma praia. Percebendo que não há ninguém por perto, ele começa uma nova jornada. Hanks vai para a floresta e conhece uma garota que o ajuda e o leva para sua vila, onde recebe ajuda. 20 anos depois, Hanks está gravando um vídeo com ajuda de seu amigo Jack para publicar no site de ajudante do prefeito e acaba sendo selecionado para ajudá-lo. Hanks e seu amigo Jack estão produzindo um robô chamado ZIA que promete ajudar no cotidiano. ZIA é apresentada na coletiva e toda a cidade vê a produção que Hanks e Jack fizeram.</p>
  </figcaption>
</figure>

<h5 class="b">Temporada 1</h5>

<figure class="figure d-flex align-items-start">
  <a href="/o-progresso-episodio-1"><img src="img/capa-o-progresso1.png" class="figure-img img-fluid rounded me-4" alt="O Progresso" style="width: 180px;"></a>
  <figcaption class="figure-caption text-start">
    <h5><p><strong>Episódio 1</strong></p></h5>
    <p>01 de janeiro de 2024</p>
  </figcaption>
</figure>

<br>

<figure class="figure d-flex align-items-start">
  <a href="/o-progresso-episodio-2"><img src="img/capa-o-progresso2.png" class="figure-img img-fluid rounded me-4" alt="O Progresso" style="width: 180px;"></a>
  <figcaption class="figure-caption text-start">
    <h5><p><strong>Episódio 2</strong></p></h5>
    <p>14 de janeiro de 2024</p>
  </figcaption>
</figure>

<br>

<figure class="figure d-flex align-items-start">
  <a href="/o-progresso-episodio-3"><img src="img/capa-o-progresso3.png" class="figure-img img-fluid rounded me-4" alt="O Progresso" style="width: 180px;"></a>
  <figcaption class="figure-caption text-start">
    <h5><p><strong>Episódio 3</strong></p></h5>
    <p>12 de fevereiro de 2024</p>
  </figcaption>
</figure>

<br>

<figure class="figure d-flex align-items-start">
  <a href="/o-progresso-episodio-4"><img src="img/capa-o-progresso4.png" class="figure-img img-fluid rounded me-4" alt="O Progresso" style="width: 180px;"></a>
  <figcaption class="figure-caption text-start">
    <h5><p><strong>Episódio 4</strong></p></h5>
    <p>29 de março de 2024</p>
  </figcaption>
</figure>

<br>

<figure class="figure d-flex align-items-start">
  <a href="/o-progresso-episodio-5"><img src="img/capa-o-progresso5.png" class="figure-img img-fluid rounded me-4" alt="O Progresso" style="width: 180px;"></a>
  <figcaption class="figure-caption text-start">
    <h5><p><strong>Episódio 5</strong></p></h5>
    <p>13 de abril de 2024</p>
  </figcaption>
</figure>

<br>

<br>


</div>
<%- include('../partials/footer-1.ejs') %>
</div>
    
</body>
<%- include('../partials/footer.ejs') %>